.first-part {
    display: flex;
    background-color: bisque;

}

#first-img {
    padding-left: 1%;
}

#Welcome {
    color: orange;
}

#welcome-id {
    margin-top: 15%;
    margin-left: 5%;

}

#welcome-h {
    font-size: 55px;
}

#first-para {
    font-size: 25px;
}

.link-button {
    text-decoration: none;
    font-size: 30px;
    border: 5px solid tomato;
    border-radius: 10px;
    background-color: tomato;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 35%;
}

.link-button:hover {
    background-color: aqua;
    border: 5px solid aqua;

}